* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
}
html,
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
}
.backimg {
    width: 67.7%;
    height: 100%;
    position: relative;
}
.backimg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6d6d6d;
}
.nav {
    width: calc(32.3% + 40px);
    height: 100%;
    padding-left: 120px;
    padding-top: 30px;
    padding-right: 50px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: lightgray;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: -10px 0 100px rgb(173, 173, 173);
}
.nav-identify {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    padding-right: 10px;
    border-right: 1px solid black;
}
.nav-identify__num {
    font-size: 24px;
    color: #6d6d6d;
}
.nav-identify__name {
    font-size: 16px;
    color: #6d6d6d;
}
.nav-menu {
    margin-top: 120px;
    list-style: none;
}
.nav-menu li {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
}
.nav-menu li::before {
    content: "";
    width: 20px;
    height: 3px;
    position: absolute;
    top: calc(50% + 3px);
    background-color: #41595f;
    transform: translateY(-50%) scaleX(0);
    transform-origin: left;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
}
.nav-menu li.active::before {
    transform: translateY(-50%) scaleX(1);
    background-color: #41595f;
}
.nav-menu li:hover::before {
    transform: translateY(-50%) scaleX(1);
    background-color: rgb(255, 63, 30);
}

.nav-menu li a {
    height: 60px;
    font-size: 40px;
    font-weight: bolder;
    color: #a4a4a4;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.nav-menu li a span,
.nav-menu li a i {
    font-size: 16px;
    display: hidden;
    opacity: 0;
    margin-left: 30px;
    transition: 0.3s ease-in-out;
}
.nav-menu li:hover a span,
.nav-menu li:hover a i {
    display: block;
    opacity: 1;
}

.nav-menu li.active a {
    color: #6d6d6d;
    transform: translateX(30px);
}

.nav-menu li a:hover,
.nav-menu li:hover a {
    color: black;
    transform: translateX(30px);
}
.form {
    width: calc(100% - 70px);
    height: 220px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: rgb(236, 236, 236);
    padding: 10px 30px 30px 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px gray inset;
}
.form-id,
.form-password {
    color: rgb(139, 98, 59);
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 28px;
    padding: 10px 30px;
    margin-top: 15px;
    transition: 0.3s ease-in-out;
}
.form-id:focus,
.form-password:focus,
.form-id:hover,
.form-password:hover {
    border-color: rgb(139, 98, 59);
}
.form-id:focus::placeholder,
.form-password:focus::placeholder,
.form-id:hover::placeholder,
.form-password:hover::placeholder {
    color: rgb(139, 98, 59);
}

.form-login {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: gray;
    color: white;
    font-size: 24px;
    transition: 0.3s ease-in-out;
}
.form-login:hover {
    background-color: white;
    border: 2px solid rgb(139, 98, 59);
    color: gray;
}

.copyright {
    font-size: 14px;
    color: gray;
    position: absolute;
    bottom: 20px;
    right: 150px;
}
